@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
*{
    margin: 0;
   padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}
body{
    background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);

font-family: 'Poppins', sans-serif;
}

.nav-button{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px 10px;
    position: sticky;
    top: 0;
    z-index: 1000;
   
}

.nav-toggler{
    height: 50px;
    width: 50px;
    background-color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}
.nav-toggler:focus{
    
    outline: none;
}
.nav-toggler span{
    height: 2px;
    width: 20px;
    background: #000;
    display: block;
    margin: auto;
    position:relative;
   
}
.nav-toggler.active span{
    background: transparent;
}
.nav-toggler span::before,
.nav-toggler span::after{
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #000;
    transition: all 0.5s ease;
}
.nav-toggler span::before{
    transform: translateY(-6px);
}
.nav-toggler.active span::before{
    transform: rotate(45deg);
}
.nav-toggler span::after{
    transform: translateY(6px);
}
.nav-toggler.active span::after{
    transform: rotate(-45deg);
}
.nav{
    background-color: #fff;
    margin: 12px 20px;
    text-align: center;
    padding: 10px;
    border-radius: 20px;
    position: sticky;
    transition: all 0.5s ease;
    display: none;
    z-index: 1000;
    top: 70px;
}
.nav ul li{
    margin-bottom: 12px;
}
.nav ul li a{
    color: #504f4f;
    font-size: 20px;
    transition: all 0.3s ease;
}
.nav ul li a:hover{
    color: #7adae4;
}

/* REUSABLE CSS */
.btn-white{
    border: none;
    background-color: #fff;
    padding: 10px 20px;
    color: #000;
    border-radius: 25px;
    cursor: pointer;
    font-weight: bold;
}
.btn-light{
    border: none;
    background-color: rgba(233, 226, 226, 0.268);
    padding: 10px 20px;
    color: #000;
    border-radius: 25px;
    cursor: pointer;
    font-weight: bold;
}

/* ANIMATION */
.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 2s ease;
}
.reveal.active{
    transform: translateY(0px);
    opacity: 1;
}

/* HOME */
section .home-container{
    margin-top: 100px;
}
.home-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px 10px;
    flex-wrap: wrap;
}
.home-container .text{
    width: auto;
    padding: 10px;
}
.home-container .text .title{
    font-size: 28px;
}
.home-container .text .title h2{
    font-weight: 500;
}
.home-container .text .title h2 span{
    font-weight: 700;
}
.home-container .photo{
    height: 100%;
    padding: 10px;
}
.home-container .photo img{
    height: 100%;
    width: 100%;
}
.buttons{
    margin-top: 20px;
}

/* ABOUT */
.about-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px 20px;
    flex-wrap: wrap-reverse;
}
.about-container .text-content{
    width: 400px;
    padding: 0 50px;
}
.about-container .text-content .title{
    margin-bottom: 20px;
}
.about-container .text-content .title h2{
    font-weight: 300;
}
.about-container .photo{
    height: 300px;
    width: 300px;
}
.about-container .photo img{
    height: 300px;
    width: 300px;
    border-radius: 10px 0 10px 0px;
}
section .about-container{
    margin-top: 100px;
    margin-bottom: 200px;
}



/* CATEGORY */
section .category-container{
    margin-top: 100px;
    margin-bottom: 200px;
}
.category-container .title{
    text-align: center;
    margin-bottom: 20px;
    
}
.category-container .title h2{
    font-size: 30px;
    font-weight: 300;
}
.product-box{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px 20px;
}
.product-box .item{
    height: auto;
    width: 200px;
    background: #fff;
    border-radius: 0px 20px 0px 20px;
}

.product-box .item .photo img{
    height: 200px;
    width: 200px;
    padding: 15px;
    border-radius: 0 20% 0 20%;
}
.product-box .item .text{
    padding: 10px;
}
.product-box .item .text h4{
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
}
.product-box .item .text p{
    font-weight: 300;
    text-align: center;
}

/* SUPPORT */
section .support-container{
    margin-top: 100px;
}
.support-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap-reverse;
    gap: 10px 40px;
}
.support-container .text{
    width: 300px;
}
.support-container .text h2{
    font-weight: 400;
    margin-bottom: 20px;
    font-size: 25px;
}
.support-container .text p{
    font-size: 16px;
    margin-bottom: 20px;
    font-weight: 300;
}
.support-container .text .address{
    font-size: 12px;
    margin-bottom: 20px;
    font-weight: 300;
}
.support-container .text h4{
    font-weight: 400;
    margin-bottom: 20px;
    font-size: 20px;
}
.support-container .photo img{
    height: auto;
    width: 300px;
    border-radius: 0 20% 0 20%;
    
}



/* CONTACT */
section .contact-container{
    margin-top: 100px;
    margin-bottom: 200px;
}
.contact-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px 50px;
}
.contact-container .title{
    font-size: 20px;
    font-weight: 400;
    width: 300px;
}
.contact-container .location{
    width: 300px;
}
.contact-container .location h4{
    font-weight: 600;
}
.contact-container .location p{
    font-size: 16px;
    font-weight: 300;
}
.contact-container .socials{
    display: block;
    align-items: center;
}
.contact-container .socials a{
    color: #504f4f;
}


@media screen and (min-width:300px) and (max-width:767px) {
  
   
}